/* @Media */

@media (min-height:1440px) {
    #Slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%; 
        height: 1250px;
        padding: 0% 6%;
    }
    #Slogan h1{
        font-size: 2.1vw;
        font-weight: 100;
        color: rgb(114, 114, 114);
        margin: 0%;
        line-height:1;
    }
    #Dirige{
        font-size:6vw;
        line-height:0.9;
    }
    #El{
        font-size: 1vw;
        color: rgb(114, 114, 114);
        margin:5% 1%;
        line-height:1;
    }
    #Slogan h3{
        font-size: 4.5vw;
        font-weight: 300;
        color: rgb(114, 114, 114);
        line-height:0.9;
    }

    .Slide_Box{
        width: 100%;
        height: 1000px;
        
    }
    .Slide{
        width: 100%;
        height: 950px;
    }
    .Gallery{
        top: 0%;
        width: 200%;
    }
    
    .Box{
        width: 50%;
        height: 800px;
    }
}
@media (min-width:1440px) {
    #Slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%; 
        height: 950px;
        padding: 0% 6%;
    }
    #Slogan h1{
        font-size: 2.1vw;
        font-weight: 100;
        color: rgb(114, 114, 114);
        margin: 0%;
        line-height:1;
    }
    #Dirige{
        font-size:6vw;
        line-height:0.9;
    }
    #El{
        font-size: 1vw;
        color: rgb(114, 114, 114);
        margin:5% 1%;
        line-height:1;
    }
    #Slogan h3{
        font-size: 4.5vw;
        font-weight: 300;
        color: rgb(114, 114, 114);
        line-height:0.9;
    }

    .Slide_Box{
        width: 100%;
        height: 1100px;
        
    }
    .Slide{
        width: 100%;
        height: 950px;
    }
    .Gallery{
        top: 0%;
        width: 200%;
    }
    
    .Box{
        width: 50%;
        height: 800px;
    }
}
@media (max-width:1440px) {
    #Slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%; 
        height: 1100px;
        padding: 0% 6%;
    }
    #Slogan h1{
        font-size: 3vw;
        font-weight: 100;
        color: rgb(114, 114, 114);
        margin: 0%;
        line-height:1;
    }
    #Dirige{
        font-size:8.5vw;
        line-height:0.9;
    }
    #El{
        font-size:1.8vw;
        color: rgb(114, 114, 114);
        margin:5% 1%;
        line-height:1;
    }
    #Slogan h3{
        font-size: 6vw;
        font-weight: 300;
        color: rgb(114, 114, 114);
        line-height:0.9;
    }
    .Box{
        width: 50%;
        height: 550px;
    }
}

@media (max-width:768px) {
    #Btn_Hamburg{
        display: block;
    }
    body{
        overflow: auto;
        overflow-x: hidden;
    }
    .Seccion{
        display: none;
    }
    .Nav{
        margin: 0% 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    #Slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%; 
        height: 1100px;
        padding: 0% 6%;
    }
    #Slogan h1{
        font-size: 2.1vw;
        font-weight: 100;
        color: rgb(114, 114, 114);
        margin: 0%;
        line-height:1;
    }
    #Dirige{
        font-size:6vw;
        line-height:0.9;
    }
    #El{
        font-size: 1vw;
        color: rgb(114, 114, 114);
        margin:5% 1%;
        line-height:1;
    }
    #Slogan h3{
        font-size: 4.3vw;
        font-weight: 300;
        color: rgb(114, 114, 114);
        line-height:0.9;
    }
}

@media (max-width:958px) {
    #Slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: 800px;
    }
    #Slogan h1{
        font-size: 6vw;
        font-weight: 100;
        color: rgb(114, 114, 114);
        margin: 0%;
        line-height:1;
    }
    #Dirige{
        font-size:17vw;
        line-height:0.9;
    }
    #El{
        font-size: 4vw;
        color: rgb(114, 114, 114);
        margin:5% 1%;
        line-height:1;
    }
    #Slogan h3{
        font-size: 12vw;
        font-weight: 300;
        color: rgb(114, 114, 114);
        line-height:0.9;
    }
}

@media (max-width:768px) {
    .PortaSlide{
        margin: 0% 2% ;
    }
    .ControlSlide{
        width: 100%;
    }
    .Slide_Box{
        width: 100%;
        height: 700px;
        margin: 0% 0% 0% 0%;
        padding: 0 2% 0 0;
    }
    .Slide{
        width: 100%;
        height: 750px;
    }
    .Gallery{
        top: 0%;
        width: 500%;
    }
    .Box_1{
        width: 100%;
        height: 550px;
    }
    .Box{
        width: 100%;
        height: 550px;
    }
    .Btns{  
        bottom: 8%;
        width: 130px;
    }
    .Cell{
        display: block;
    }
    #SearchCell{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 65%;
    }
    #SearchCell form input{
        margin: 0% 0% 0% 5%;
        width: 300px;
        border-radius: 2px;
    }
    #SearchCell i{
        color: #fff;
        margin: auto 0%;
    }
    #SearchCell i:hover{
        color: #0fb9b6;
        cursor: pointer;
    }
    #QuienSoyCell{
        margin: 8% 5% 0%;
        padding: 5% 0%;
    }
    #QuienSoyCell a{
        color: #fff;
        text-decoration: none;
    }
    #HelpCell{
        margin: 1% 5% 0%;
        padding: 3% 0%;
    }
    #HelpCell a{
        color: #fff;
        text-decoration: none;
    }
    .Btn_Hamburg{
        display: none;
    }
    #PortaDecor{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .PortaCell{
        margin: 2% 5%;
        width: 90px;
    }
    .PortaActCell{
        color: #fff;
        text-decoration: none;
        padding: 2% 1%;
    }
    .PortaActCell:hover{
        cursor: pointer;
    }
    #DropdownCellBox{
        width: 250px;
        height: 0;
        transition: .3s height;
        overflow: hidden;
        background-color: rgb(49, 48, 48);
    }
    #PortafolioCell{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #DropdownCellBox div a{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 4% 0%;
        text-decoration: none;
        color: #fff;
    }
    #DropdownCellBox div a:active{
        color: #0fb9b6;
        
    }
    .DropdownCellElement{
        padding: 3% 1%;
        width: 100%;
    }
    #IconPortafolioCell{
        width: 10px;
        height: 9px;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        background-color: #fff;
        margin-top: 2%;
        transform: rotate(180deg);
    }
    .Contacto{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textfooter{
        display: none;
    }
}